@import "~bootstrap/scss/bootstrap";

.bg-cover {
    background-image: url('https://images.wallpapersden.com/image/download/4k-beautiful-landscape-digital-art_bGhuZm6UmZqaraWkpJRobWllrWdma2U.jpg');
    background-size: cover; 
    background-position: bottom;
}